.App{
  
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
.Dashboard{
   grid-area: 1 / 1 / 6 / 2; 
}

.Reviews{
  grid-area: 1 / 2 / 2 / 4;
  
}

.Rating{
  grid-area: 1 / 3 / 2 / 4;
  
}

.Analysis{
  grid-area: 1 / 4 / 2 / 5;
}

